---
import { Image } from 'astro:assets';

export interface Props {
	title: string;
	description: string;
	image: any;
	tech: string[];
	code?: string;
	demo?: string;
	order: number;
}

const { title, description, image, tech, code, demo, order } = Astro.props as Props;

const gradientMap: Record<number, string> = {
	0: 'bg-gradient-to-r from-cyan-500 to-blue-500',
	1: 'bg-gradient-to-r from-blue-500 to-indigo-600',
	2: 'bg-gradient-to-r from-indigo-600 to-violet-500',
	3: 'bg-gradient-to-r from-violet-500 to-purple-500',
	4: 'bg-gradient-to-r from-purple-700 to-fuchsia-600',
	5: 'bg-gradient-to-r from-fuchsia-700 to-rose-400'
};
---

<div
	class="max-h-sm flex flex-col gap-5 rounded bg-gray-950 p-4 opacity-0 md:flex-row md:gap-14"
	data-animate="fade-in"
	data-animate-delay="0.25"
>
	<div class={`p-2 md:w-1/2 flex items-center rounded self-center ${gradientMap[order]}`}>
		<Image
			src={image}
			width={600}
			height={600}
			alt={title}
			format="webp"
			loading="eager"
			class={`w-full object-cover  ${gradientMap[order]}`}
		/>
	</div>

	<div class="flex flex-col justify-center gap-4 p-2 px-6 py-4 md:w-1/2">
		<h3 class="text-xl font-bold text-white">{title}</h3>
		<p class="font-normal tracking-tight text-gray-500">
			{description}
		</p>
		<div>
			{
				tech.map((techItem) => {
					return (
						<div class="mb-2 mr-2 inline-block rounded border-2 border-gray-900 px-3 py-1 text-sm font-semibold text-white">
							{techItem}
						</div>
					);
				})
			}
		</div>

		<div class="flex gap-2">
			{
				code && (
					<a
						href={code}
						target="_blank"
						class="text-md flex cursor-pointer items-center gap-2 rounded bg-gray-950 px-3.5 py-2.5 font-semibold text-indigo-600 shadow-sm"
					>
						Code
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-4 w-4"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"
							/>
						</svg>
					</a>
				)
			}
			{
				demo && (
					<a
						href={demo}
						target="_blank"
						class="text-md flex cursor-pointer items-center gap-2 rounded bg-gray-950 px-3.5 py-2.5 font-semibold text-indigo-600 shadow-sm"
					>
						Demo
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-4 w-4"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
							/>
						</svg>
					</a>
				)
			}
		</div>
	</div>
</div>
