---
import { type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Landing from './components/landing/landing.astro';
import Project from './components/project.astro';
import WorkExperience from './components/work-experience.astro';
import Contact from './components/contact.astro';
import LadIcon from '../../components/lad-icon/lad-icon.astro';

interface Props {
	projects: CollectionEntry<'projects'>[];
	workExperience: CollectionEntry<'workExperience'>[];
}

const { projects, workExperience } = Astro.props as Props;
---

<Layout title="Daragh Coll">
	<main>
		<Landing />
		<section id="section__projects" class="section-projects bg-gray-950 py-8">
			<div class="mb-5 flex items-center justify-center gap-2">
				<div class="flex flex-col items-center">
					<LadIcon id="projects_lad" variant="projects" height="4rem" width="4rem" color="white" />
					<h4 class="mt-4 text-center text-3xl font-semibold tracking-tight text-white">
						Projects
					</h4>
				</div>
			</div>
			<div class="container-md grid auto-rows-fr grid-cols-1 gap-10 md:gap-20">
				{
					projects.map(({ data }) => {
						return (
							<Project
								title={data.title}
								description={data.description}
								image={data.image}
								tech={data.tech}
								code={data.code}
								demo={data.demo}
								order={data.order}
							/>
						);
					})
				}
			</div>
		</section>

		<section id="section__experience" class="bg-gray-950 py-8">
			<div class="mb-5 flex items-center justify-center gap-2">
				<div class="flex flex-col items-center">
					<LadIcon id="contact_lad" variant="work" height="4rem" width="4rem" color="white" />
					<h4 class="mt-4 text-center text-3xl font-semibold tracking-tight text-white">
						Experience
					</h4>
				</div>
			</div>
			<div class="container-sm grid grid-cols-1 gap-10">
				{
					workExperience.map(({ data }) => {
						return (
							<WorkExperience title={data.title} job={data.job} date={data.date} tech={data.tech} />
						);
					})
				}
			</div>
		</section>

		<section id="section__contact" class="bg-gray-950 py-8">
			<div class="mb-5 flex items-center justify-center gap-2">
				<div class="flex flex-col items-center">
					<LadIcon id="contact_lad" variant="contact" height="4rem" width="4rem" color="white" />
					<h4 class="mt-4 text-center text-3xl font-semibold tracking-tight text-white">Contact</h4>
				</div>
			</div>
			<Contact />
		</section>
	</main>
</Layout>

<script>
	import { inView, animate } from 'motion';

	inView('[data-animate="fade-in"]', ({ target }) => {
		const delay = target.getAttribute('data-animate-delay');
		animate(
			target,
			{
				opacity: [0, 1],
				transform: ['translateY(1rem)', 'translateY(0)']
			},
			{ delay: Number(delay), duration: 0.5, easing: ['ease-in'] }
		);
	});

	inView('.section-heading-icon', ({ target }) => {
		setTimeout(() => {
			target.classList.add('icon-path-animation');
		}, 500);
	});
</script>

<style>
	.section-heading-icon {
		stroke-dasharray: 450;
		stroke-dashoffset: 450;
	}

	/* .section-projects {
		mask-image: linear-gradient(to bottom, white, white, #030712, #030712);
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(17 24 39 / 0.7)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
	} */

	.icon-path-animation {
		animation: draw 5s linear forwards;
	}

	@keyframes draw {
		to {
			stroke-dashoffset: 0;
		}
	}
</style>
