---
import { type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Landing from './landing/landing.astro';
import Project from './project.astro';
import WorkExperience from './work-experience.astro';
import Contact from './contact.astro';
import LadIcon from '@components/common/lad-icon/lad-icon.astro';

interface Props {
	projects: CollectionEntry<'projects'>[];
	workExperience: CollectionEntry<'workExperience'>[];
}

const { projects, workExperience } = Astro.props as Props;
---

<Layout title="Daragh Coll" description="Home" image="/og-images/home.png">
	<main>
		<Landing />
		<section id="projects" class="section-projects bg-gray-950 py-8">
			<div class="mb-5 flex items-center justify-center gap-2">
				<div class="flex flex-col items-center">
					<LadIcon id="projects_lad" variant="projects" height="4rem" width="4rem" color="white" />
					<h4 class="mt-4 text-center text-3xl font-semibold tracking-tight text-white">
						Projects
					</h4>
				</div>
			</div>
			<div class="container-md grid auto-rows-fr grid-cols-1 gap-5 md:gap-20">
				{
					projects.map(({ data }) => {
						return (
							<Project
								title={data.title}
								description={data.description}
								image={data.image}
								tech={data.tech}
								code={data.code}
								demo={data.demo}
								order={data.order}
							/>
						);
					})
				}
			</div>
		</section>

		<section id="experience" class="bg-gray-950 py-8">
			<div class="mb-5 flex items-center justify-center gap-2">
				<div class="flex flex-col items-center">
					<LadIcon id="contact_lad" variant="work" height="4rem" width="4rem" color="white" />
					<h4 class="mt-4 text-center text-3xl font-semibold tracking-tight text-white">
						Experience
					</h4>
				</div>
			</div>
			<div class="container-sm grid grid-cols-1 gap-10">
				{
					workExperience.map(({ data }) => {
						return (
							<WorkExperience title={data.title} job={data.job} date={data.date} tech={data.tech} />
						);
					})
				}
			</div>
		</section>

		<section id="contact" class="bg-gray-950 py-8">
			<div class="mb-5 flex items-center justify-center gap-2">
				<div class="flex flex-col items-center">
					<LadIcon id="contact_lad" variant="contact" height="4rem" width="4rem" color="white" />
					<h4 class="mt-4 text-center text-3xl font-semibold tracking-tight text-white">Contact</h4>
				</div>
			</div>
			<Contact />
		</section>
	</main>
</Layout>

<script>
	const elementsToFadeIn = document.querySelectorAll('[data-animate="fade-in"]');

	const observerOptions = {
		root: null,
		rootMargin: '150px',
		threshold: 0.5
	};

	const observerCallback = (entries: IntersectionObserverEntry[]) => {
		entries.forEach((entry: any) => {
			if (entry.isIntersecting) {
				const delay = entry.target.getAttribute('data-animate-delay');
				setTimeout(
					() => {
						entry.target.style.opacity = '1';
						entry.target.style.transform = 'translateY(0)';
					},
					delay ? delay * 1000 : 1000
				);
			}
		});
	};

	const observer = new IntersectionObserver(observerCallback, observerOptions);

	elementsToFadeIn.forEach((element) => observer.observe(element));
</script>
